#about-content-container {
    width: 580px;
    max-width: 45%;
    display: flex;
    flex-direction: column;
}

#about-section {
    justify-content: flex-start;
    align-items: center;
    font-family: 'Electrolize', sans-serif;
    // color: #34bfff;
    min-height: 100vh;
    padding-bottom: 90px;
    // background-color: #febd8c;
}

.section-about {

		&__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
		}

		&__title {
            font-size: 60px;
		}

		&__number {
            background-color: #FF923E;
            border-radius: 50%;
            padding: 10px;
            color: #fff;
		}

		&__detail {
		}
}

.section-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}
