/**Big button*/
.big-button {
    padding: 13px 34px;
    border-radius: 26px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    width: max-content;
}

/**Small Button*/
.small-button {
    padding: 9px 36px;
    color: white;
    border-radius: 13px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.orange-hover {
    background-color: #FF923E;
    background-image: radial-gradient(circle at center, #ff9b4f 50%, transparent 50%);
    background-repeat: no-repeat;
    transition: background-size 300ms;
    background-size: 0 0;
    background-position: 50% 50%;
}

.orange-hover:hover {
    background-size: 200% 200%;
}

.gray-hover {
    background-color: #b9bbbe;
    background-image: radial-gradient(circle at center, #caccce 50%, transparent 50%);
    background-repeat: no-repeat;
    transition: background-size 300ms;
    background-size: 0 0;
    background-position: 50% 50%;
}

.gray-hover:hover {
    background-size: 200% 200%;
}